/* DECLARAÇÃO GENÉRICA */
@import url(https://db.onlinewebfonts.com/c/6b22dc1202b5d1a57bcff9d24a1ea5da?family=Krona+One);
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Krona One";
    user-select: none;
    background-color: #2a2a2a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    padding-left: 0px;
    margin: 0px;
    overflow-x: hidden;
}
footer{
    width: 100%;
    height: 50px;
    margin: 0px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer span{
    text-align: center;
}


nav{
    width: 50%;
    z-index: 1;
    position: absolute;
    top: 0px;
}

nav ul{ 
    align-self: center;
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

.li-nav{
    position: relative;
    box-sizing: border-box;
    height: 50px;
    width: 100px;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;  
    padding-left: 30px;
    gap: 60px;
    visibility: visible;
    overflow: hidden;
    transition: 0.5s;
    color: gray;
}


a {
    all: unset;
    position: absolute;
    height: 100%;
    width: 100%;
}

.li-nav span{
    align-self: center;
    text-align: center;
    transition: 0.5s;
    padding: 3px;
}


.ul-nav:hover > *{
    transform: scale(0.9);
    opacity: 0.4;
    color: gray;
}

.ul-nav > *:hover{
    cursor: pointer;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    gap: 0px;
    transform: scale(1.1);
    opacity: 1.0;
}

header{
    color: white;
    position: relative;
    top: 0px;
    background-image: url(../img/intro.png);
    background-position: 50% 65%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
header > p{
    font-family: "Krona One";
    font-size: 8em;
    text-align: center;
    color: white;
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
    
}
header > a{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 100px;
    color: gray;
    width: 150px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    text-size-adjust: 2em;
    border: 4px solid darkgray;
    cursor: pointer;
}
header > a:hover{
    background-color: darkgray;
    color: white;
    transition: 0.5s;
}
main{
    user-select: text;
    height: 500vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 50px;
    flex-direction: column;
}
main > h1{
    color: white;
    font-size: 4em;
}
main > [class$="Content"] > h1{
    color: white;
    font-size: 2.8em;
}
