/* DECLARAÇÃO GENÉRICA */
@import url(https://db.onlinewebfonts.com/c/6b22dc1202b5d1a57bcff9d24a1ea5da?family=Krona+One);
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Krona One";
    user-select: none;
    background-color: #2a2a2a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    padding-left: 0px;
    margin: 0px;
    overflow-x: hidden;
}
footer{
    width: 100%;
    height: 50px;
    margin: 0px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer span{
    text-align: center;
}


nav{
    width: 50%;
    z-index: 1;
    position: absolute;
    top: 0px;
}

nav ul{ 
    align-self: center;
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.7);
    visibility: hidden;
}


.li-nav{
    position: relative;
    box-sizing: border-box;
    height: 50px;
    width: 100px;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;  
    padding-left: 30px;
    gap: 60px;
    visibility: visible;
    overflow: hidden;
    transition: 0.5s;
    color: gray;
}


a {
    all: unset;
    position: absolute;
    height: 100%;
    width: 100%;
}

.li-nav span{
    align-self: center;
    text-align: center;
    padding: 3px;
    transition: 0.5s;
}


.ul-nav:hover > *{
    transform: scale(0.9);
    opacity: 0.4;
    color: gray;
}

.ul-nav > *:hover{
    cursor: pointer;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    gap: 0px;
    transform: scale(1.1);
    opacity: 1.0;
}

header{
    color: white;
    position: relative;
    top: 0px;
    background-image: url(../img/intro.png);
    background-position: 50% 65%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

header > h1{

}

header > a{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 100px;
    color: gray;
    width: 150px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    text-size-adjust: 2em;
    border: 4px solid darkgray;
    transition: 0.5s;
   
}
header > a:hover{
    background-color: darkgray;
    color: white;
    transition: 0.5s; 
    cursor: pointer;
}
main{
    height: 300vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 50px;
    flex-direction: column;
}

main > h1{
    color: white;
}

main > .href-Content h1{
    user-select: pointer;
    color: rgb(255, 255, 255);
    font-size: 3em;
    display: flex;
    justify-content: center;
    
}
.href-Content:not(h1){
    display: flex;
    align-items: center;
    flex-direction: column;
}
#aboutContent > .content{
    color: white;
    width: 50%;
    justify-content: center;
    gap: 50px;
}
#aboutContent > .content > p{
    width: 50%;
    text-align: justify;
}
/*Article*/
.content{
    display: flex;
    flex-direction: row;
}

.href-Content:hover > h1{
    cursor: pointer;
    text-decoration: underline;
}


#articleBlock{
    width: 300px;
    height: 300px;
    background-color: #7d7d7d;
    margin-right: 20px;
    border: #1a1a1a solid 1px;
    box-shadow: 2px 4px 8px #000000b3;
    border-radius: 16px;
    transition: 0.5s;
}

#articlesContent > h1{
    text-align: center;
    color: white;
}
#articlesContent > .content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
#articlesContent #articleBlock:hover{
    cursor: pointer;
    scale: 1.05;
    background-color: #1a1a1a;
    transition: 0.5s;
}
#articlesContent i{
    color: white;
    font-size: 5em;
    transition: 0.5s;
    filter:drop-shadow(2px 4px 8px #000000b3);
}
#articlesContent i:hover{
    cursor: pointer;
    color: #7d7d7d;
    transition: 0.5s;
    filter:drop-shadow(2px 4px 8px #000000b3);
    
}

/* FAQ */
.faqContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 100vh;
    position: relative;
    transition: 0.5s;
}

.faqContent > h1{
    color: white;
}

.faqContent > [id^="faq"]{
    background-color: #7d7d7d;
    border: #1a1a1a solid 1px;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.5s;
    /*no seu tempo*/
}
[id^="faq"] a {
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
    align-items: center;
    background-color: #7d7d7d;
    transition: 0.5s;
}
[id^="faq"] a>span{
    color: white;
    font-size: 2em;
    padding-left: 20px;
    display: flex;
    align-items: center;
    top: 20px;
    transition: 0.5s;
}
a i{
    opacity: 0;
    color: white;
    transition: 0.5s;
}
[id^="faq"] a:hover{
    background-color: #1a1a1a;
    transition: 0.5s;
}
a:hover i{
    opacity: 1;
    transition: 0.5s;
    margin: 20px;
}
a:hover span {
    padding-left: 0px;
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1s ease;
}

.show {
    filter: blur(0px);
    transform: translateX(0px);
}